/* ▇▇▇▇▇▇   BOX WRAPPER STYLE ▇▇▇▇▇ */
/* 
*   1.- Reset all
*   2.- Scrollbars
*   3.- Body
*   4.- Contenedor principal
*   5.- Elementos del contendor
*   6.- Estilos para el elemento
*   7.- Posiciionamiento y animaciones
*/

*{
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
}

::-webkit-scrollbar{
    display: none;
}

body{
    background-color: rgb(43, 38, 38);
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

div.grid-main-container{
    display: grid;
    width: 100%;
    height: 100vh;
    
    gap: 0;
    grid-auto-columns: 1fr;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.item{
    font-size: 1rem;
    text-align: center;
    transition: transform 500ms ease-in-out;
}

.item:nth-child(1){background-color: rgb(247, 122, 10);}
.item:nth-child(2){background-color: rgb(189, 72, 138);}
.item:nth-child(3){background-color: rgb(0, 126, 58);}

.item:nth-child(4){background-color: rgba(212,98,52);}
.item:nth-child(5){background-color: rgb(36, 32, 42);}
.item:nth-child(6){background-color: rgb(54, 142, 142);}

.item:nth-child(7){background-color: rgb(98, 160, 22);}
.item:nth-child(8){background-color: rgb(176, 173, 25);}
.item:nth-child(9){background-color: rgb(70, 25, 119);}

.item:hover{
    animation-name: get_big;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    animation-iteration-count: inherit;
    animation-direction: normal;
    animation-fill-mode: forwards;
    z-index: 1;
}

div.grid-main-container:hover .item:not(:hover){
    transform: scale(0.97);
}

@keyframes get_big {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.17);
    }
    100%{
        transform: scale(1.2);
    }
}

.item.multisub{
    display: grid;
    width: 100%;
    height: 100%;

    gap: 0;

    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}


.card-presentation{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}


.card-presentation #card-image{
    position: relative;
    display: inline-block;
}

.card-presentation #card-image::before{
    content: "";
    position: absolute;

    top: -4.5px;
    left: -4.5px;
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
    border: 5px solid transparent;
    transform: scale(1.01);
    border-top-color: rgba(0, 183, 255,.7);
    border-right-color: rgba(255, 0, 157, 0.7);
    border-bottom-color: rgba(60, 255, 0, 0.7);
    border-left-color: rgba(255, 255, 255, 0.7);

    animation: loading;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.card-presentation #card-image img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    /* border: 4px solid rgba(14, 243, 255, 0.5); */
}

.card-presentation #card-body{
    width: 50%;
    height: 10rem;
    padding-left: 2rem;
    color: white;
    text-align: justify;
    border-left: 5px solid rgb(160, 153, 153);
}

.card-presentation #links{padding-bottom:4rem;}
.card-presentation #links a{color:white;}
.card-presentation #links a > *{
    margin-right: 1rem;
    transition: all 300ms ease-in-out;
}
.card-presentation #links a > *:hover{
    cursor: pointer;
    color: lightskyblue;
    transform: scale(1.4) rotate(360deg);
}